{% extends 'home/layout.html' %}

{% block title%}Домашняя страница{% endblock %}

{% block content%}
    <h1>Домашняя страница</h1>
    <p>Навигация</p>
    <ul>
        <a href="{% url 'add' %}"><li>Добавить расходы и доходы</li></a>
        <a href="{% url 'statistics' %}"><li>Статистика</li></a>
        <a href="{% url 'history' %}"><li>История</li></a>
        <a href="{% url 'profile' %}"><li>Профиль и настройки</li></a>
        <a href="{% url 'main' %}"><li>Выйти</li></a>
    </ul>
{% endblock %}