{% extends 'home/layout.html' %}

{% block title%}Статистика{% endblock %}

{% block content%}

    <h1>Статистика</h1>


<style>
    * {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }
    .chartMenu{
      width: 100vw;
      height: 40px;
      background: #1A1A1A;
      color: rgba(255, 26, 104, 1);
    }
    .chartMenu p {
      padding: 10px;
      font-size: 20px;
    }
    .chartCard {
      height: calc(100vh - 40px);
      background: rgba(255, 26, 104, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .chartBox {
      width: 80%;
      padding: 20px;
      border-radius: 20px;
      background: white;
    }
    .row {
      display: flex;
      height 100vh;
    }
    .sidebar {
      flex: 25%;
      background: #ccc;
      padding: 20px;
    }
    .column {
      flex: 75%;
    }
</style>
<div class="row">
    <div class="sidebar">
        <select onchange="updateChart(this)">
            <option value="Income">Income</option>
            <option value="Outcome">Outcome</option>
            <option value="Investment">Investment</option>
        </select>
    </div>
    <div class="column">
        <div class="chartCard">
          <div class="chartBox">
            <canvas id="chart"></canvas>
          </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

typeKey = 'Income'

window.onload = function () {
  // We render via Django template
  var data = [
    {% for item in transaction %}
        {{ item.amount }},
    {% endfor %}
  ]

  // We render via Django template
  var labels = [
    {% for item in transaction %}
        "{{ item.date }}",
    {% endfor %}
  ]

  console.log(data);
  console.log(labels);

  var config = {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [
        {
          label: 'Out inc parameter',
          backgroundColor: 'rgba(31, 180, 171, 1)',
          borderRadius: 50,
          borderColor: 'lightblue',
          data: data,
          fill: false
        }
      ]
    },
    options: {
      responsive: true
    }
  };

  var ctx = document.getElementById('chart').getContext('2d');
  window.myLine = new Chart(ctx, config);
};

function updateChart(option){
  console.log(option.value);
  typeKey = option.value;
  myLine.update();
}

</script>


{% endblock %}