<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page</title>
  <link rel="stylesheet" href="../normalize.css">
  <link rel="stylesheet" href="../style.css">
</head>
<body class="main_page_body">
<header class="main_page_header">
    <div class="wallet_icon_main_page"></div>
    <h1 class="text contact_text">CashFlowKeeper</h1>
    <button class="button_action action_get_app"><h4 class="text button-text">Get the app</h4></button>
    <div class="user_icon_main_page"></div>
    <button class="leng_button"></button>
</header>
<div class="introduction_part">
  <div class="main_info">
  <h5 class="text main_info_annotation">Take your expenses under control</h5>
  <h1 class="text main_text">Financial Tracking Platform</h1>
  <button class="text_brief_info action_try"><h3 class="text button-text">Try for free</h3></button>
  <div class="main_widget first_widget">
    <h3 class="text text_brief_info">CashFlowKeeper is your personal assistant in financial accounting.</h3> 
    <h4 class="text text_brief_annotation">Start monitoring income and expense flows today.</h4>
    <h4 class="text text_brief_annotation">Invest your money to achieve your goals.</h4>
  </div>

  <div class="illustration_widgets">
    <div class="main_widget second_widget">
    <h3 class="text text_brief_info">Keep track of all active services</h3> 
  </div>
  <img class="illustration_widget" src="../icons/backgroundimage.png">
  <div class="main_widget third_widget">
    <h3 class="text text_brief_info">A home page that has everything you need</h3> 
  </div>
  <div class="main_widget fourth_widget">
    <h3 class="text text_brief_info">Detailed analysis of income, expenses and savings</h3> 
  </div>
  </div>
  
</div>
</div>
<div class="contact_part">
<div class="contact_line centered">
  <h2 class="text contact_text">Contact us</h2>
</div>
<div class="rowed_line">
  <div class="contact_line_left">
    <h2 class="text contact_text">Name</h2>
    <input type="text" name="name_contact" id="name_contact" class="contact_input"> 
  </div>
  <div class="contact_line_right">
    <h2 class="text contact_text">Email</h2>
    <input type="text" name="email_contact" id="email_contact" class="contact_input"> 
  </div>
</div>
<div class="contact_line centered">
  <h2 class="text contact_text">Message</h2>  
  <input type="text" name="contact_message_input" id="contact_message_input" class="contact_message_input"> 
</div>
<div class="contact_line centered">
<button class="action_send"><h3 class="text button_contact_text">Send</h3></button>
</div>
</div>
<footer class="main_footer">
  <h4 class="text text_brief_annotation">@ CashFlowKeeper 2023</h4>
</footer>
<script src="../script.js"></script>
</body>
</html>