<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset password</title>
  <link rel="stylesheet" href="../normalize.css">
  <link rel="stylesheet" href="../style.css">
</head>
<body>
    <section class="background_illustration">
        <img src="../icons/backgroundimage.png" class="illustration_shakal">
    </section>
    <section class="bottom_info">
        <div class="flex_container_bottom_info">
            <div class="wallet_icon_bottom_info"></div> 
            <h2 class="text text_sign_in_name">CashFlowKeeper</h2>
        </div>
    <h2 class="text text_sign_in_info">Let's empower your financial task today with CashFlowKeeper</h2>
    <h5 class="text button-text">A universal platform for managing your money</h5>
    </section>
    <section class="registration_window">
        <div class="password_wind reset">
                <button class="icon_top_left"></button>
            <h2 class="text text_sing_in_info">Reset Your Password</h2>
            <h5 class="text little_comments">Input your email address account to receive a reset link</h5>
            <div class="form_part">
                <h5 class="text little_comments">Email</h5>
                <input type="text" class="text registration_form" id="reset_email" placeholder="yourname@email.com">
            </div>
            <p><button class="continue text button-text" id="reset_button">Reset</button></p>
            </div>
            <div class="second_part">
        </div>
        <div class="password_wind reset_done">
            <div class="loading_animation">
                <div class="loading"></div>
            </div>
            <h2 class="text text_sing_in_info">Password Successfully Reset</h2>
            <h5 class="text little_comments">A new temporary password has been sent to the email.</h5>
            <h5 class="text little_comments">After authorization, change it in the settings!</h5>
            <p><button class="continue text button-text">Sign In</button></p>
        </div>
    </section>
    <script src="../script_reset.js"></script>

</body>
</html>