<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
  <link rel="stylesheet" href="../normalize.css">
  <link rel="stylesheet" href="../style.css">
</head>
<body>
    <section class="background_illustration">
        <img src="../icons/backgroundimage.png" class="illustration_shakal">
    </section>
    <section class="bottom_info">
        <div class="flex_container_bottom_info">
            <div class="wallet_icon_bottom_info"></div> 
            <h2 class="text text_sign_in_name">CashFlowKeeper</h2>
        </div>
    <h2 class="text text_sign_in_info">Let's empower your financial task today with CashFlowKeeper</h2>
    <h5 class="text button-text">A universal platform for managing your money</h5>
    </section>
    <section class="registration_window">
        <div class="password_wind sign_in">
            <button class="icon_top_left"></button>
            <h2 class="text text_sing_in_info">Sign In</h2>
            <h5 class="text little_comments">Log in to your personal account to continue working</h5>
            <div class="form_part">
                <h5 class="text little_comments">Email</h5>
                <input type="text" class="text registration_form" id="registration_email" placeholder="yourname@email.com">
            </div>
            <div class="form_part">
                <h5 class="text little_comments">Password</h5>
                <input type="password" class="text registration_form" id="registration_password" placeholder="************">
            </div>
            <p><button class="continue text button-text">Continue</button></p>
            <div class="footer_registr">
                <p class="text little_comments"><span>Don't have an account yet? </span><a href="">Sign Up</a></p>
                <p class="text little_comments"><span>Forgot your password? </span><a href="">Password recovery</a></p>
            </div>
        </div>
    </section>
</body>
</html>